root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4-tabbed files
[Makefile]
indent_size = 4
indent_style = tab

[{node_modules,vendor,bower_components}/**]
indent_style = ignore
indent_size = ignore
end_of_line = ignore
charset = ignore
trim_trailing_whitespace = ignore
insert_final_newline = ignore
spaces_around_operators = ignore
