*.sublime-project
*.sublime-workspace
.bash_history
.bashrc
.cache/
.DS_Store
.env
.env.*
.gitconfig
.idea
.profile
.sublime-gulp.cache
.v8flags*
.viminfo
/.composer/
/.npm/
/.nvm/
/.ssh/
/bower_components/
/node_modules/
/test/coverage
npm-debug.log
packages.json
selenium-debug.log
Thumbs.db
!.env.example
